<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Creative Cyborg
    </ion-title>
    <ion-button slot="end" (click)="refresh()"><ion-icon name="refresh-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="6" size-lg="3" size-xl="2" *ngFor="let room of getRooms()">
        <ion-card class="ion-text-center">
          <ion-card-header>
            <ion-card-title>
              {{room.name}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button (click)="loadRoom(room)">Beitreten</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
