<ion-header [translucent]="true">
  <ion-toolbar>
    <a slot="start" href="/home"><ion-button><ion-icon name="chevron-back-outline"></ion-icon></ion-button></a>
    <ion-title class="ion-text-center">
      {{this.room.name}}
    </ion-title>
    <ion-button slot="end" (click)="refresh()"><ion-icon name="refresh-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <!--
  <ion-list *ngFor="let idee of this.ideen">
    <ion-item>
      <p>{{idee}}</p>
      <ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"></ion-img>
    </ion-item>
  </ion-list>
  -->

  <ion-grid>
    <ion-row >
      <ion-col size="12" size-md="4" *ngFor="let idea of getIdeas()">
        <ion-img src="{{idea.imageLink}}"></ion-img>
        <h3>{{idea.idea}}</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="this.getIdeaCount() == 0">
    Keine Ideen im Raum
  </div>
</ion-content>

